[ai]
api_key = "在此填入你的API密钥"
base_url = "https://api.deepseek.com"
model = "deepseek-v4-flash"

[system]
task_parallel_limit = 1
user_parallel_limit = 1

[answer]
answer_priority = ["db", "ai", "manual", "random"]
manual_timeout = 20
